<h2>Objective</h2>
<p>Seeking an entry level Web Developer position where my skills and experience can be utilized toward career development and growth. </p>
<hr>

<h2>Education</h2>

<h3>Bachelor’s Degree – Computer Science | Grand Valley State University  |  2021-2023</h3>

<p>Coursework in software engineering taught me skills such as design patterns 
    like MVC and MVP. Building projects in Java and JavaScript taught me frameworks 
    such as Swing and Angular. Database management courses taught me SQL and NoSQL. 
    Building RESTful APIs allowed me to use HTTP requests for full CRUD functionality.
    Discrete mathematics gave me a solid foundation in problem solving when working 
    in a digital space. 
</p>

<h3>Associate degree – Computer Programming | Grand Rapids Community College   |     2020-2021</h3>

<p>Here I learned the core concepts of many programming languages such as HTML, CSS, 
    JavaScript, Java, C, C++, and C#. Deploying web apps through AWS was incredibly 
    useful and informative. I learned the basics of database management which I 
    built upon when transferring to GVSU.
</p>

<h3> Certificate – Emergency Medical Technician | Baker College     |                2006-2008</h3>
<p>In the classroom I learned essential lifesaving skills that 
    I built upon while working in clinical settings such as the 
    Emergency Room or being in the field on an Ambulance or Fire 
    Truck. Working well as a team during crisis situations taught 
    me how to maintain professionalism while under extreme pressure. 
</p>
<hr>
<h2>Projects</h2>

<h3>Bar Inventory Manager (Java)</h3>
<p>Using Agile for SDLC I built an app in Java using the Swing framework. 
    Here I designed RESTful APIs for asynchronous web requests. I used 
    Junit for unit testing to ensure all methods were working as intended. 
    Using Git for version control and GitHub for a remote repository I 
    was able to maintain control of my code while building the program larger.
</p>

<h3>Bar Inventory Manager 2.0 (JavaScript/TypeScript)</h3>
<p>Learning the Angular framework, I built my Bar Inventory Manager 2.0 and 
    improved the functionality of the application. By using JSON server, I 
    was able to host my database on a server and have persistent data storage. 
    Using the Observable class with HttpClient I was able implement full CRUD 
    functionality to the program. While using Angular I learned much about the 
    framework such as Dependency Injection, Directives, RxJS operators and 
    component management just to name a few.
</p>

<h3>Covid-19 Death Tracker (Java)</h3>
<p>Using Java, I created server to host a database of Covid-19 death statistics 
    and then implemented a client with JDBC to query the database.
</p>

<h3>University Network Design (Cisco Packet Tracer)</h3>
<p>Built a fully functioning virtual network connecting multiple campus 
    properties. This network had a complete suite of servers such as FTP, 
    Email, HTTP, DNS and DHCP. Using Cisco Packet Tracer, I was able to 
    use the command line to configure all devices on the network and ensure 
    proper communications between all clients and servers. 
</p>

<h3>Encryption/Decryption Algorithm (Java)</h3>
<p>Built an Affine Shift algorithm learned in Discrete Mathematics using 
    Java that took plain text and ran it through the program to build a 
    cipher with the ability to decrypt the message using the correct key. 
</p>
<hr>

<h2>Work History</h2>

<h3>IT Field Tech | Cook Tech | May 2023 – Current</h3>
<p>Following documentation, I would complete a wide variety of jobs per 
    the customers’ specifications. This job requires a broad understanding 
    of computers and network management. Providing detailed documentation 
    of the work completed is an important aspect of this position.
</p>
<ul>
    <li>Running cable, terminating, and signal testing cables</li>
    <li>Updating or installing routers, switches, servers, and patch panels, often on Cisco’s Meraki platform</li>
    <li>Use the command line to update permissions, manage port access, and ping servers</li>
    <li>Troubleshooting faulty systems to find the component that needs repair or replacement</li>
    <li>Setting up and maintaining SOHO’s</li>
    <li>Training new technicians</li>
</ul>

<h3>Lead Bartender | Frazier Creek Brewing & Distilling |  May 2023 – Current</h3>
<p>My years of hospitality experience enable me to be an effective leader in a 
    fast-paced environment while taking care of the guests’ needs. The 
    head-on-a-swivel ability is one of my strong suits, I am not only 
    able to address the needs of multiple people at once but my ability 
    to anticipate needs sets me apart.
</p>
<ul>
    <li>Money management and transaction documentation</li>
    <li>Interpersonal communication</li>
    <li>Nonverbal communication</li>
    <li>Providing initial training and continued education to all staff</li>
</ul>

<h3>Transmission Mechanic Team Leader | Weller Truck Parts | 2014 – 2020</h3>
<p>Using a broad range of skills and tools I led a team of skilled mechanics 
    in the rebuilding process of heavy-duty manual transmissions. Working 
    in a hazardous environment, proper training was of critical importance. 
</p>
<ul>
    <li>Monitoring for safe but efficient work practices</li>
    <li>Training all new hires</li>
    <li>Safety team First Responder site contact</li>
    <li>Created documentation that expedited part identification</li>
    <li>Responsible for troubleshooting all transmissions that failed dyno testing</li>
</ul>
<h3>Bartender | Founders Brewery | 2005 – 2014</h3>
<p>I joined Founders at the beginning of their journey and was there 
    for their meteoric rise to worldwide recognition. At the beginning 
    we had a staff of about 10 people and when I left, they were employing 
    about 150 people. Being a core bartender for the many years I was with 
    Founders I helped define the culture. 
</p>
<ul>
    <li>Excellent money management skills</li>
    <li>Working well as part of a team</li>
</ul>

<h3>Light Armored Vehicle Crewman | United States Marine Corps | 1997-2000</h3>
<p>As a Vehicle Crewman I started as the driver before being promoted to the 
    gunner and eventually a vehicle commander. Critical thinking and good 
    judgement were paramount in all roles in the Marines. As a vehicle 
    commander I would be responsible for the lives of eight individuals.
</p>
<ul>
    <li>Excellent communication</li>
    <li>Quick thinking</li>
    <li>Logistics planning</li>
</ul>




